* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
input {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  height: 60px;
  background: #131921;
  // background: #232f3e;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding: 0 5px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    .logo {
      width: 113px;
      height: 50px;
      cursor: pointer;
      padding: 4px 5px;
      transition: 0.4s;
      border: 1px solid #131921;
      &:hover {
        border-radius: 5px;
        border: 1px solid #fff;
      }
      img {
        width: 100%;
      }
    }
    .deliver {
      width: 113px;
      background: transparent;
      color: #fff;
      display: flex;
      align-items: end;
      gap: 5px;
      padding: 5px;
      margin: 5px 0;
      transition: 0.4s;
      border: 1px solid #131921;
      cursor: pointer;
      &:hover {
        border: 1px solid #fff;
        border-radius: 5px;
      }
    }
    .inputs {
      width: 800px;
      padding-left: 10px;
      height: 40px;
      display: flex;
      align-items: center;

      #searchDropdownBox {
        width: 45px;
        height: 100%;
        border-radius: 8px 0px 0px 8px;
        background: #e8e6e6;
        border: none;
        cursor: pointer;
        outline: none;
        font-family: sans-serif;
        font-size: 16px;
        transition: 0.4s;
        &:focus {
          border: 3px solid rgb(252, 192, 11);
        }
      }
      #search {
        width: 100%;
        height: 40px;
        outline: none;
        padding: 5px;
        font-size: 16px;
        font-family: sans-serif;
        transition: 0.4s;
        border: none;
        outline: none;
        &:focus {
          border-top: 3px solid rgb(252, 192, 11);
          border-bottom: 3px solid rgb(252, 192, 11);
        }
      }
      .btn-search {
        border: none;
        width: 45px;
        height: 40px;
        background: rgb(248, 183, 62);
        border-radius: 0px 8px 8px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          background: orange;
        }
        &:active {
          border: 3px solid rgb(248, 201, 62);
        }
      }
    }
    .language {
      width: 80px;
      height: 40px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #131921;
      padding: 23px 0;
      margin-left: 5px;
      cursor: pointer;
      font-family: sans-serif;
      transition: 0.5s;
      img {
        width: 32px;
      }
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
      }
    }
    .sigin-in {
      width: 170px;
      color: #fff;
      padding: 5px;
      font-family: sans-serif;
      cursor: pointer;
      border: 1px solid #131921;
      transition: 0.4s;
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
      }
    }
    .return {
      width: 100px;
      color: #fff;
      padding: 5px;
      font-family: sans-serif;
      cursor: pointer;
      border: 1px solid #131921;
      transition: 0.4s;
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
      }
    }
    .cart {
      cursor: pointer;
      padding: 3px;
      display: flex;
      align-items: end;
      font-family: sans-serif;
      color: #fff;
      border: 1px solid #131921;
      transition: 0.4s;
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
      }
      img {
        width: 45px;
      }
    }
  }
  .modal {
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 374px;
    height: 370px;
    border-radius: 12px;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: none;
    background: #fff;
    z-index: 100;
    h3 {
      font-family: sans-serif;
      padding: 16px 24px;
      background: #dbdbdb;
      border-radius: 12px 12px 0px 0px;
      border-bottom: 1px solid #bbb;
    }
    p {
      font-family: sans-serif;
      color: #565959;
      font-size: 14px;
      padding: 14px 16px;
      text-align: center;
    }
    .btn-sign {
      width: 325px;
      margin-left: 20px;
      background: rgb(255, 217, 0);
      border: 0;
      padding: 12px 16px;
      border-radius: 12px;
      cursor: pointer;
      font-family: sans-serif;
      transition: 0.4s;
      &:hover {
        background: rgb(248, 183, 62);
      }
    }
    // .line-text {
    //   span {
    //     height: 1px;
    //     width: 30px;
    //     background: #d22525;
    //   }
    // }
    form {
      padding-left: 35px;
      input {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #aaa;
      }
      button {
        border: none;
        height: 30px;
        width: 100px;
        background: white;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        border: 1px solid #ccc;
        cursor: pointer;
      }
    }
    select {
      width: 325px;
      margin: auto;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background: #d6d6d6;
      display: block;
      cursor: pointer;
    }
    .close {
      border: none;
      width: 60px;
      height: 30px;
      background: rgb(255, 230, 0);
      border-radius: 8px;
      border: 1px solid rgb(255, 217, 0);
      cursor: pointer;
      font-family: sans-serif;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 15px;
      right: 20px;
      transition: 0.4s;
      &:hover {
        background: rgb(248, 220, 62);
      }
    }
  }
  .header-bottom {
    background: #232f3e;
    padding: 5px;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;

    .content {
      display: flex;
      align-items: center;
      gap: 32px;
      .btn-burger {
        padding: 5px;
        display: flex;
        align-items: center;
        color: #fff;
        border: none;
        background: transparent;
        gap: 4px;
        cursor: pointer;
        transition: 0.4s;
        border: 1px solid #232f3e;
        &:hover {
          border: 1px solid #fff;
          border-radius: 5px;
        }
      }
      .items {
        display: flex;
        align-items: center;
        gap: 5px;
        .item {
          list-style: none;
          border: 1px solid #232f3e;
          padding: 10px;
          transition: 0.4s;
          cursor: pointer;
          a {
            color: #fff;
            font-family: sans-serif;
          }
          &:hover {
            border: 1px solid #fff;
            border-radius: 8px;
          }
        }
      }
    }
  }

  .sidebar {
    width: 400px;
    height: 100vh;
    background: #fff;
    position: relative;
    position: fixed;
    top: 0;
    left: -450px;
    transition: 0.5s;
    z-index: 100;

    .btn-burger-close {
      cursor: pointer;

      background: transparent;
      position: absolute;
      top: 5px;
      right: -44px;
      border: 0;
    }
    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      gap: 5px;
      background: #232f3e;
      h4 {
        color: #fff;
        font-family: sans-serif;
      }
    }
    .content {
      padding: 10px 20px;

      h5 {
        font-family: sans-serif;
        color: #000;
        font-size: 20px;
        padding-bottom: 20px;
        padding-top: 16px;
      }
      p {
        font-family: sans-serif;
        color: #000;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.4s;
        svg {
          fill: #fff;
        }
        &:hover {
          background: #ddd;
          svg {
            stroke: #aaa;
          }
        }
      }
      p + p {
        margin-top: 16px;
      }
      .last {
        margin-bottom: 20px;
      }
      a {
        display: block;
        font-family: sans-serif;
        color: #000;
        display: flex;
        align-items: center;
        padding: 5px;
        transition: 0.4s;
        &:hover {
          background: #ccc;
          color: #fff;
        }
      }
      a + a {
        padding-top: 5px;
      }
    }
  }
  .sidebar.show {
    z-index: 100;
    left: 0;
  }
}
main {
  padding-top: 110.5px;
  .hero {
    img {
      width: 100%;
    }
  }
  .products {
    margin-top: -325px;

    .cards {
      padding: 0px 20px;
      // position: absolute;
      // top: -325px;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
      .card {
        width: 330px;
        height: 380px;
        background: #fff;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        padding: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        h1 {
          font-family: sans-serif;
          color: #000;
        }
        .child-card {
          max-width: 143px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          p {
            padding-top: 10px;
            font-family: sans-serif;
            color: #000;
          }
        }
        a {
          color: rgb(0, 119, 255);
          transition: 0.4s;
          &:hover {
            color: red;
          }
        }
        .childCard {
          width: 310px;
          img {
            width: 100%;
          }
        }
        .hero-img-child {
          width: 300px;
          p {
            font-family: sans-serif;
            color: #000;
          }
          img {
            width: 100%;
          }
        }
        .imgs {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .img {
            width: 97px;
            p {
              font-family: sans-serif;
              color: #000;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
