* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  height: 60px;
  background: #131921;
  // background: #232f3e;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding: 0 5px;
  nav {
    display: flex;
    align-items: center;
    gap: 5px;

    .logo {
      width: 113px;
      height: 50px;
      cursor: pointer;
      padding: 10px 5px;
      transition: 0.4s;
      border: 1px solid #131921;
      &:hover {
        border-radius: 5px;
        border: 1px solid #fff;
      }
      img {
        width: 100%;
      }
    }
    .deliver {
      width: 113px;

      color: #fff;
      display: flex;
      align-items: end;
      gap: 5px;
      padding: 5px;
      margin: 5px 0;
      transition: 0.4s;
      border: 1px solid #131921;
      cursor: pointer;
      &:hover {
        border: 1px solid #fff;
        border-radius: 5px;
      }
    }
    .inputs {
      width: 900px;
      padding-left: 10px;
      height: 40px;
      display: flex;
      align-items: center;

      #searchDropdownBox {
        width: 45px;
        height: 100%;
        border-radius: 8px 0px 0px 8px;
        background: #e8e6e6;
        border: none;
        cursor: pointer;
        outline: none;
        font-family: sans-serif;
        font-size: 16px;
        transition: 0.4s;
        &:focus {
          border: 3px solid rgb(252, 192, 11);
        }
      }
      #search {
        width: 100%;
        height: 40px;
        outline: none;
        padding: 5px;
        font-size: 16px;
        font-family: sans-serif;
        transition: 0.4s;
        border: none;
        outline: none;
        &:focus {
          border-top: 3px solid rgb(252, 192, 11);
          border-bottom: 3px solid rgb(252, 192, 11);
        }
      }
      .btn-search {
        border: none;
        width: 45px;
        height: 40px;
        background: rgb(248, 183, 62);
        border-radius: 0px 8px 8px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          background: orange;
        }
        &:active {
          border: 3px solid rgb(248, 201, 62);
        }
      }
    }
    .language {
      width: 60px;
      height: 40px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #131921;

      margin-left: 5px;
      cursor: pointer;
      font-family: sans-serif;
      transition: 0.5s;
      img {
        width: 32px;
      }
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
      }
    }
    .sigin-in {
      color: #fff;
      padding: 5px;
      font-family: sans-serif;
      cursor: pointer;
      border: 1px solid #131921;
      transition: 0.4s;
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
      }
    }
    .return {
      color: #fff;
      padding: 5px;
      font-family: sans-serif;
      cursor: pointer;
      border: 1px solid #131921;
      transition: 0.4s;
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
      }
    }
    .cart {
      cursor: pointer;
      padding: 3px;
      display: flex;
      align-items: end;
      font-family: sans-serif;
      color: #fff;
      border: 1px solid #131921;
      transition: 0.4s;
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
      }
      img {
        width: 45px;
      }
    }
  }
}
